@import "tailwindcss";

.section {
  padding-block: 4rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.section.reverse .section-layout {
  flex-direction: row-reverse;
}

.img-wrapper {
  aspect-ratio: 16/11;
  width: 100%;
  max-width: 700px;
  border-radius: var(--border-radius);
  flex: 1 1 60%;
  align-self: center;
  margin-right: 1rem;
}

.section.reverse .img-wrapper {
  margin-left: 1rem;
  margin-right: 0;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.section-text {
  flex: 1 1 35%;
  max-width: 500px;
  align-self: center;
}

@media (max-width: 768px) {
  .section-layout {
    flex-direction: column;
    align-items: center;
  }
  .img-wrapper {
    width: 90%;
    max-width: 400px;
    margin: 1rem 0;
  }
  .section-text {
    width: 100%;
    text-align: center;
  }
}
